<!DOCTYPE html>
<html>
<head>
  <title><%= content_for?(:title) ? yield(:title) : t('.title') %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<!-- Wrap all page content here -->
<div id="wrap"> 
  <%= render 'layouts/navbar' %>
</div>

<!-- Begin page content -->
<div class="container">
  <% flash.each do |name, msg| %>
    <p>
      <%= content_tag :div, msg, id: "flash_#{name}" %>
    </p>
  <% end %>

  <%= yield %>
</div>

<div id="footer">
  <div class="container">
    <p class="text-muted">Place sticky footer content here.</p>
  </div>
</div>
  
</body>
</html>
