<%= form_for(@account) do |f| %>
  <% if @account.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@account.errors.count, "error") %> prohibited this account from being saved:</h2>

      <ul>
      <% @account.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :bs_pl_division %><br />
    <%= f.select :bs_pl_division,['BS','PL'],{include_blank: '選択してください'} %>
  </div>
  <div class="field">
    <%= f.label :debit_credit_division %><br />
    <%= f.select :debit_credit_division,['借方','貸方'],{include_blank: '選択してください'} %>
  </div>
  <div class="field">
    <%= f.label :code %><br />
    <%= f.text_field :code %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :parent_code %><br />
    <%= f.collection_select :parent_code, Account.all,:code,:name,{include_blank: '選択してください'} %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
