<div class="panel panel-primary">
  <div class="panel-heading"><h1><%= t('.title') %></h1>
  <p>
    <%= t('.download') %>:
    <%= link_to "CSV", accounts_path(format: "csv"), class: "btn btn-primary btn-xs active",role: "button" %> |
    <%= link_to "Excel(.xls)", accounts_path(format: "xls"), class: "btn btn-primary btn-xs active",role: "button" %>
  </p>
  </div>
  <div class="panel-body">

    <div class="row">
      <%= render 'index_form', search: @search, search: t('.search') %>
    </div>
    <div class="row">
      <div class="col-md-12"><br></div>
    </div>
    <div class="row">    
      <div class="table-responsive">
        <%= render 'index_table', account: @accounts, search: @search, show: t('.show'), edit: t('.edit'), destroy: t('.destroy'), ok: t('.ok') %>
      </div>
    </div>
  </div>
  <div class="panel-footer">
    <%= form_tag import_accounts_path, multipart: true, class: "form-inline", role: "form" do %>
    <div class="form-group">
      <%= file_field_tag :file,{class: "form-control"} %>
    </div>
    <div class="form-group">
      <%= submit_tag t('.upload'), class: 'btn btn-primary btn-xs form-control' %>  
    </div>
    <% end %>    
  </div>  
</div>
<%= paginate @accounts %>
<%= link_to t('.new'), new_account_path, class: "btn btn-primary active",role: "button" %>
